@import "tailwindcss";
@config "../tailwind.config.js";

.gradient_dark {
  background-image: linear-gradient(10deg, rgba(62, 62, 62, 1), rgba(45, 44, 47, 0));
}
.gradient_green {
  background-image: linear-gradient(90deg,rgba(143, 143, 143, 0), rgba(145, 241, 111, 0.2));
}
