@import "tailwindcss";
@config "../tailwind.config.js";

.gradient_dark {
  background-image: linear-gradient(10deg, rgba(62, 62, 62, 1), rgba(45, 44, 47, 0));
}
.gradient_green {
  background-image: linear-gradient(90deg,rgba(143, 143, 143, 0), rgba(145, 241, 111, 0.2));
}

body {
  font-family: Plus Jakarta Sans, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.my-calendar [data-slot='base'] > div:not([data-slot]) {
  width: 100% !important;
  height: auto !important;
  /* overflow: visible !important; */
}
